/* ==== STYLE RESET ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: 1px solid red;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow-y: auto;
  font-family: "Raleway";
}
img,
picture {
  width: 100%; /* Works better when inside a div */
}

/* ==================== */

h1 {
  text-align: center;
}
.battle-display {
  display: flex;
  justify-content: space-between;
}
.health-meters,
.health-gauge {
  display: flex;
}
.health-gauge,
.health-bar {
  width: 100%;
  text-align: center;
}
.health-bar {
  background-color: green;
}
#monster-hp {
  justify-content: flex-end;
}
.game-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-row {
  display: flex;
  justify-content: space-around;
}
.btn {
  padding: 1rem 2rem;
  color: white;
  background-color: brown;
}
.disabled {
  background-color: grey;
}
.char-img {
  width: 200px;
  height: 200px;
  background-color: grey;
}
.attacking {
  position: relative;
  left: 1rem;
}
.attacked {
  position: relative;
  right: 1rem;
}

.action-icon {
  width: 40px;
  height: 40px;
  background-color: yellow;
}